<!DOCTYPE html>
<html>
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <div class="banner-area">
      <h1>You're at <%= title %></h1>
      <br>
      <a href="/">
        <button>Go back</button>
      </a>
    </div>
  </body>
</html>
